[Unit]
Description=webapp
After=network.target
 
[Service]
Environment=HOST=localhost
Type=simple
User=root
Group=root
WorkingDirectory=/opt/csye6225/webapp/
ExecStartPre=/bin/bash -c 'while [ ! -f /opt/csye6225/webapp/.env ]; do sleep 5; done'
ExecStart=/usr/bin/node /opt/csye6225/webapp/app.js
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
 
[Install]
WantedBy=multi-user.target
